.uiModal.forceModal[aria-hidden="true"] {
    display: none !important;
}

.uiModal.forceModal.active .slds-modal__container {
    width: 50% !important;
    max-width: 50rem !important;
    min-width: 50rem !important;
}

/*.slds-modal__container{*/
/*max-width: 70rem !important;*/
/*width:90% !important;*/

/*}*/

.uiModal.forceModal.active .modal-container > .modal-body {
    max-height: 500px;
    height: 400px;
}

.uiModal.forceModal.active .modal-body {
    height: auto !important;
    padding: 0;
}

.uiModal.forceModal.active .cuf-content {
    padding: 0 !important;
}

.uiModal.forceModal.active .forceChatterLightningComponent .bodyWrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box
}

.abstractModalContainer {
    height: 40%;
    overflow: auto;
}

.abstractModalSubContainer {
    position: relative;
    /*height: 600px;*/
    /*min-height: 500px;*/
}

.quick-actions-panel, .quick-actions-panel > .slds-modal__content,
.abstractModalSubContainer .slds-modal__content,
.abstractModalSubContainer .slds-modal__content > div{
    height: unset !important;
    max-height: unset !important;
    padding: 0;
}